## Data Path Configurations
PHENOTYPES_JSON_PATH=/data/phenotype_library.json
RAW_DUCKDB_PATH=data/mimiciv_omop.duckdb

OUTPUT_DIR=outputs/

## Phenotype Library Parameters
MAX_PHENOTYPES=

## DP Parameters
DP_MODE=gaussian
EPSILON=1.0
DELTA=1e-5